The Nobel Prize has been among the most prestigious international awards since 1901. Each year, awards are bestowed in chemistry, literature, physics, physiology or medicine, economics, and peace. In addition to the honor, prestige, and substantial prize money, the recipient also gets a gold medal with an image of Alfred Nobel (1833 - 1896), who established the prize.

![](Nobel_Prize.png)

The Nobel Foundation has made a dataset available of all prize winners from the outset of the awards from 1901 to 2023. The dataset used in this project is from the Nobel Prize API and is available in the `nobel.csv` file in the `data` folder.

In this project, you'll get a chance to explore and answer several questions related to this prizewinning data. And we encourage you then to explore further questions that you're interested in!

In [3]:
import pandas as pd
import seaborn as sns
import numpy as np

In [4]:
df = pd.read_csv('nobel.csv')
df.head()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

Achando gênero mais comum

In [5]:
top_gender = df['sex'].value_counts().index[0]
top_gender

'Male'

Achando país mais comum

In [6]:
top_country = df['birth_country'].value_counts().index[0]
top_country

'United States of America'

Criando coluna 'decade' a partir de 'year' para uso em consulta

In [7]:
df['decade'] = pd.cut(df['year'], bins = np.arange(1900,2031,10), labels = np.arange(1900,2030,10), right =False)
df[['year', 'decade']]

     year decade
0    1901   1900
1    1901   1900
2    1901   1900
3    1901   1900
4    1901   1900
..    ...    ...
995  2023   2020
996  2023   2020
997  2023   2020
998  2023   2020
999  2023   2020

[1000 rows x 2 columns]

In [8]:
prop_per_decade = df.groupby('decade')[['birth_country']].value_counts(normalize= True)
prop_per_decade.head()

C:\Users\Usuário\AppData\Local\Temp\ipykernel_21412\1965601341.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  prop_per_decade = df.groupby('decade')[['birth_country']].value_counts(normalize= True)

decade  birth_country
1900    France               0.160714
        Switzerland          0.071429
        Prussia (Germany)    0.053571
        Prussia (Poland)     0.053571
        Netherlands          0.053571
Name: proportion, dtype: float64

Década com maior proporção de vencedores dos Estados Unidos

In [9]:
max_decade_usa = prop_per_decade.loc[:, 'United States of America'].sort_values(ascending=False).index[0]
max_decade_usa

2000

Combinação de década e categoria com mais mulheres laureadas

In [10]:
decade_category_sex_prop = df.groupby(['decade', 'category'])[['sex']].value_counts(normalize= True)
decade_category_sex_prop= decade_category_sex_prop.loc[:,:,'Female'].sort_values(ascending=False).head()
decade_category_sex_prop=decade_category_sex_prop.reset_index(name='proportion').sort_values(['proportion', 'category'], ascending = [False, True])
decade_category_sex_prop

C:\Users\Usuário\AppData\Local\Temp\ipykernel_21412\3199986291.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  decade_category_sex_prop = df.groupby(['decade', 'category'])[['sex']].value_counts(normalize= True)

  decade    category  proportion
1   2020  Literature         0.5
0   2020       Peace         0.5
2   2010       Peace         0.5
3   1990  Literature         0.3
4   2000  Literature         0.3

In [11]:
decade_category_sex_prop[['decade', 'category']].iloc[0][0]

C:\Users\Usuário\AppData\Local\Temp\ipykernel_21412\1866930494.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  decade_category_sex_prop[['decade', 'category']].iloc[0][0]

2020

In [12]:
max_female_dict = {}
max_female_dict[decade_category_sex_prop[['decade', 'category']].iloc[0][0]] = decade_category_sex_prop[['decade', 'category']].iloc[0][1]
max_female_dict

C:\Users\Usuário\AppData\Local\Temp\ipykernel_21412\2108064289.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  max_female_dict[decade_category_sex_prop[['decade', 'category']].iloc[0][0]] = decade_category_sex_prop[['decade', 'category']].iloc[0][1]
C:\Users\Usuário\AppData\Local\Temp\ipykernel_21412\2108064289.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  max_female_dict[decade_category_sex_prop[['decade', 'category']].iloc[0][0]] = decade_category_sex_prop[['decade', 'category']].iloc[0][1]

{2020: 'Literature'}

Primeira mulher vencedora do prêmio

In [13]:
first_woman = (df.sort_values('year').query('sex == "Female"').iloc[0])[['full_name', 'category']]
first_woman_name = first_woman[0]
first_woman_category = first_woman[1]
first_woman_name, first_woman_category

C:\Users\Usuário\AppData\Local\Temp\ipykernel_21412\1178074245.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  first_woman_name = first_woman[0]
C:\Users\Usuário\AppData\Local\Temp\ipykernel_21412\1178074245.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  first_woman_category = first_woman[1]

('Marie Curie, née Sklodowska', 'Physics')

In [14]:
df.head()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country,decade
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany,1900
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France,1900
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany,1900
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland,1900
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France,1900

Vencedores repetidos

In [15]:
repeat_list = df.value_counts('full_name')[df.value_counts('full_name') >= 2].index
repeat_list = list(repeat_list)
repeat_list

['Comité international de la Croix Rouge (International Committee of the Red Cross)',
 'Office of the United Nations High Commissioner for Refugees (UNHCR)',
 'Frederick Sanger',
 'Linus Carl Pauling',
 'John Bardeen',
 'Marie Curie, née Sklodowska']